swagger: '2.0'
info:
  title: Spacemesh AccountService NetworkService API
  contact:
    name: Spacemesh
    url: https://spacemesh.io/
  license:
    name: MIT License
    url: https://github.com/spacemeshos/go-spacemesh/blob/develop/LICENSE
  version: v2alpha1
  x-logo:
    altText: Spacemesh Logo
    url: https://docs.spacemesh.io/img/logo.png
host: testnet-api.spacemesh.network
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: NetworkService
paths:
  /spacemesh.v2alpha1.NetworkService/Info:
    post:
      description: 'Info is a method that returns an "NetworkInfoResponse".

        This method is used to retrieve network information.'
      tags:
      - NetworkService
      summary: Network information
      operationId: NetworkService_Info
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/spacemeshv2alpha1NetworkInfoRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/spacemeshv2alpha1NetworkInfoResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
  /spacemesh.v2beta1.NetworkService/Info:
    get:
      description: 'Info is a method that returns an "NetworkInfoResponse".

        This method is used to retrieve network information.'
      tags:
      - NetworkService
      summary: Network information
      operationId: NetworkService_Info
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/spacemeshv2beta1NetworkInfoResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
definitions:
  protobufAny:
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    type: object
    properties:
      '@type':
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        type: string
    additionalProperties: {}
  googlerpcStatus:
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
    type: object
    properties:
      code:
        description: 'The status code, which should be an enum value of

          [google.rpc.Code][google.rpc.Code].'
        type: integer
        format: int32
      details:
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
      message:
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized

          by the client.'
        type: string
  spacemeshv2alpha1NetworkInfoRequest:
    type: object
  spacemeshv2beta1NetworkInfoResponse:
    type: object
    properties:
      effectiveGenesisLayer:
        type: integer
        format: int64
        title: effective genesis layer, i.e., first layer after genesis initialization period
      genesisId:
        type: string
        format: byte
      genesisTime:
        type: string
        format: date-time
        title: genesis time of the network, represented as a timestamp
      hrp:
        type: string
      labelsPerUnit:
        type: string
        format: uint64
        title: number of labels per unit
      layerDuration:
        type: string
        title: duration of each layer in the network, specified as a duration
      layersPerEpoch:
        type: integer
        format: int64
        title: number of layers per epoch
  spacemeshv2alpha1NetworkInfoResponse:
    type: object
    properties:
      effectiveGenesisLayer:
        type: integer
        format: int64
        title: effective genesis layer, i.e., first layer after genesis initialization period
      genesisId:
        type: string
        format: byte
      genesisTime:
        type: string
        format: date-time
        title: genesis time of the network, represented as a timestamp
      hrp:
        type: string
      labelsPerUnit:
        type: string
        format: uint64
        title: number of labels per unit
      layerDuration:
        type: string
        title: duration of each layer in the network, specified as a duration
      layersPerEpoch:
        type: integer
        format: int64
        title: number of layers per epoch
