openapi: 3.2.0
info:
  title: Spacemesh Account Service API
  contact:
    name: Spacemesh
    url: https://spacemesh.io/
  license:
    name: MIT License
    url: https://github.com/spacemeshos/go-spacemesh/blob/develop/LICENSE
  x-logo:
    altText: Spacemesh Logo
    url: https://docs.spacemesh.io/img/logo.png
  version: '1.0'
  description: 'Operations tagged AccountService across 2 of this provider''s published API definitions: spacemesh-v1-openapi-original.json, spacemesh-v2beta1-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://testnet-api.spacemesh.network
tags:
- name: AccountService
paths:
  /spacemesh.v2alpha1.AccountService/List:
    post:
      description: 'List is a method that takes an "AccountRequest" body and returns an "AccountList".

        This method is used to retrieve a list of accounts based on the provided request parameters.'
      tags:
      - AccountService
      summary: List of accounts
      operationId: AccountService_List
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/spacemeshv2alpha1AccountList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/spacemeshv2alpha1AccountRequest'
        required: true
    servers:
    - url: https://testnet-api.spacemesh.network
  /spacemesh.v2beta1.AccountService/List:
    get:
      description: 'List is a method that takes an "AccountRequest" body and returns an "AccountList".

        This method is used to retrieve a list of accounts based on the provided request parameters.'
      tags:
      - AccountService
      summary: List of accounts
      operationId: AccountService_List
      parameters:
      - description: list of account addresses
        name: addresses
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: adjusts the starting point for data
        name: offset
        in: query
        schema:
          type: string
          format: uint64
      - description: specifies max number of items to fetch// bech32 format including HRP
        name: limit
        in: query
        schema:
          type: string
          format: uint64
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/spacemeshv2beta1AccountList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
    servers:
    - url: https://testnet-api.spacemesh.network
components:
  schemas:
    spacemeshv2alpha1AccountList:
      type: object
      properties:
        accounts:
          type: array
          title: list of accounts
          items:
            type: object
            $ref: '#/components/schemas/spacemeshv2alpha1Account'
    googlerpcStatus:
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        code:
          description: 'The status code, which should be an enum value of

            [google.rpc.Code][google.rpc.Code].'
          type: integer
          format: int32
        details:
          description: 'A list of messages that carry the error details.  There is a common set of

            message types for APIs to use.'
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
        message:
          description: 'A developer-facing error message, which should be in English. Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized

            by the client.'
          type: string
    spacemeshv2alpha1AccountRequest:
      type: object
      properties:
        addresses:
          type: array
          title: list of account addresses
          items:
            type: string
        limit:
          type: string
          format: uint64
          title: specifies max number of items to fetch// bech32 format including HRP
        offset:
          type: string
          format: uint64
          title: adjusts the starting point for data
    spacemeshv2alpha1AccountState:
      type: object
      properties:
        balance:
          type: string
          format: uint64
          title: account balance in smidge
        counter:
          type: string
          format: uint64
          title: aka nonce
        layer:
          type: integer
          format: int64
          title: account balance as of layer X
    protobufAny:
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
      type: object
      properties:
        '@type':
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
          type: string
      additionalProperties: {}
    spacemeshv2alpha1Account:
      type: object
      properties:
        address:
          type: string
          title: account public address
        current:
          title: current state
          $ref: '#/components/schemas/spacemeshv2alpha1AccountState'
        projected:
          title: projected state (includes pending txs)
          $ref: '#/components/schemas/spacemeshv2alpha1AccountState'
        template:
          type: string
          title: account template address
    spacemeshv2beta1AccountList:
      type: object
      properties:
        accounts:
          type: array
          title: list of accounts
          items:
            type: object
            $ref: '#/components/schemas/spacemeshv2beta1Account'
    spacemeshv2beta1Account:
      type: object
      properties:
        address:
          type: string
          title: account public address
        current:
          title: current state
          $ref: '#/components/schemas/spacemeshv2beta1AccountState'
        projected:
          title: projected state (includes pending txs)
          $ref: '#/components/schemas/spacemeshv2beta1AccountState'
        template:
          type: string
          title: account template address
    spacemeshv2beta1AccountState:
      type: object
      properties:
        balance:
          type: string
          format: uint64
          title: account balance in smidge
        counter:
          type: string
          format: uint64
          title: aka nonce
        layer:
          type: integer
          format: int64
          title: account balance as of layer X
x-refined-from:
- spacemesh-v1-openapi-original.json
- spacemesh-v2beta1-openapi-original.json
